<div class="main-con" style="background-color: #023047">
  <div class="container shadow-lg text-center justify-content-center align-items-center">
    <div class="filter mt-5">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="All Projects" (click)="toggleFilter('ALL')">All Projects</mat-button-toggle>
      <mat-button-toggle value="Software Projects" (click)="toggleFilter('SOFTWARE')">Software Projects</mat-button-toggle>
      <mat-button-toggle value="Hardware Projects" (click)="toggleFilter('HARDWARE')">Hardware Projects</mat-button-toggle>
    </mat-button-toggle-group>
    </div>
<div class="results mt-5 container-fluid ">
  <div class="row align-items-center justify-content-center">
    <div class="card mt-5 w-75 h-25" *ngFor="let project of filteredProjects">
      <div class="card-header">
        <div class="row">
          <div class="col-8 fs-3"><p>{{project.title}}</p> </div>
          <div class="col-4">
            <div class="row">
              <div class="col-lg-6 col-12"><a [href]="project.githubLink" target="_blank"><i class="bi bi-github fs-4"></i></a></div>
              <div *ngIf="project.category === 'SOFTWARE'"
                class="col-lg-6 col-12"><a [href]="project.hostedLink"><i class="bi bi-globe2 fs-4"></i></a></div>
              <div *ngIf="project.category === 'HARDWARE'"
                class="col-lg-6 col-12"><a [href]="project.images"><i class="bi bi-images fs-4"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>Tech Stack:</strong> {{project.technologies}}</p>
        <p class="card-text"><strong>Description:</strong> {{project.description}}</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
