mat-button-toggle{
  font-family: Playwite, cursive;
  text-align: center;
}
.card{
  font-family: Playwite, cursive;
}
mat-button-toggle-group{
  border-radius: 10px;
}

@media (max-width: 480px) {
  mat-button-toggle-group{
    height: 5vh;
    max-width: 90vw;
  }

  mat-button-toggle{
    font-size: 11px;
  }
}
