<div class="main-con" style="background-color: #023047">
  <div class="container shadow-lg text-center justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div *ngFor="let exp of experience"
        class="card h-50 w-75 mt-5 rounded-4" style="background-color: #0f4c5c; color: #fdf0d5">
        <div class="card-body">
          <p class="card-title fs-4"><strong>Position: </strong>{{ exp.position }}</p>
          <p class="card-text"><strong>Company: </strong> {{exp.company}}</p>
          <p class="card-text"><strong>Duration: </strong> {{exp.duration}}</p>
          <p class="card-text"><strong>Location: </strong> {{exp.location}}</p>
          <p class="card-text"><strong>Responsibilities: </strong> {{exp.responsibilities}}</p>
          <p class="card-text"><strong>Technologies: </strong> {{exp.technologies}}</p>
          <p class="card-text" ><strong>Outcomes: </strong>{{exp.outcomes}}</p>
        </div>
      </div>
    </div>
    </div>
</div>
