<app-nav-bar (tab)="getTab($event)" class="position-sticky z-3 top-0 w-100"></app-nav-bar>
<app-home *ngIf="currentTab === 'home'" [profile]="profile"></app-home>
<app-contacts *ngIf="currentTab === 'contacts'" [contacts]="contact"></app-contacts>
<app-projects *ngIf="currentTab === 'projects'" [projects]="projects"></app-projects>
<app-education *ngIf="currentTab === 'education'" [educations]="educations"></app-education>
<app-experience *ngIf="currentTab === 'experience'" [experience]="experiences"></app-experience>


<button
  (click)="startChat()"
  class="messenger-button rounded-circle shadow-lg"
  [ngClass]="isChatOpen ? 'hide' : ''"
  title="Chat with Tridip">
  <i class="bi bi-messenger"></i>
  <span class="pulse-ring"></span>
  <span class="notification-dot" *ngIf="hasNewMessage"></span>
</button>

