.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.acc{
  font-family: Playwite, cursive;
}
.cb{
  font-family: Playwite, cursive;
  font-size: 20px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*.card {*/
/*  animation: slideInFromLeft 0.5s ease-out;*/
/*}*/

.card:nth-child(1) {
  animation: slideInFromLeft 0.2s ease-out;
}

.card:nth-child(2) {
  animation: slideInFromLeft 0.4s ease-out;
}

.card:nth-child(3) {
  animation: slideInFromLeft 0.6s ease-out;
}

.card:nth-child(4) {
  animation: slideInFromLeft 0.8s ease-out;
}

.card:nth-child(5) {
  animation: slideInFromLeft 1.0s ease-out;
}
.card:nth-child(6){
  animation: slideInFromLeft 1.2s ease-out;
}
.card:nth-child(7){
  animation: slideInFromLeft 1.4s ease-out;
}
@media (max-width: 480px) {
  .hide{
    visibility: hidden;
  }
  mat-label{
    font-size: 10px;
  }
  .cb{
    font-size: 10px;
  }
}
