<div class="main-con" style="background-color: #023047">
  <div class="container shadow-lg text-center justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="card h-50 w-75 mt-5 " style="background-color: #ffa62b; color: #ffffff">
        <div class="card-body cb">
            <p class="card-text cd"><strong>Email: </strong>{{contacts.email}}
              <a  href="mailto:{{contacts.email}}"> <i class="bi bi-envelope-at"></i></a></p>
        </div>
      </div>

      <div class="card h-50 w-75 mt-5" style="background-color: #ffa62b; color: #ffffff">
        <div class="card-body cb" >
          <p class="card-text"><strong>LinkedIn: </strong>Tridip Mandal
            <a  [href]="contacts.linkedin" target="_blank"> <i class="bi bi-linkedin"></i></a></p>
        </div>
      </div>

      <div class="card h-50 w-75 mt-5" style="background-color: #ffa62b; color: #ffffff">
        <div class="card-body cb">
          <p class="card-text"><strong>Github: </strong>tridipmandal1
            <a  [href]="contacts.github" target="_blank"> <i class="bi bi-github"></i></a></p>
        </div>
      </div>

      <div class="card h-50 w-75 mt-5" style="background-color: #ffa62b; color: #ffffff">
        <div class="card-body cb">
          <p class="card-text"><strong>Stack Overflow </strong>
            <a [href]="contacts.stackoverflow" target="_blank"> <i class="bi bi-stack-overflow"></i></a></p>
        </div>
      </div>

      <div class="card h-50 w-75 mt-5" style="background-color: #ffa62b; color: #ffffff">
        <div class="card-body cb">
          <p class="card-text"><strong>Leetcode </strong>
            <a  [href]="contacts.leetcode" target="_blank"> <i class="bi bi-code-square"></i></a></p>
        </div>
      </div>

      <div class="card h-50 w-75 mt-5" style="background-color: #ffa62b; color: #ffffff">
        <div class="card-body cb" >
          <p class="card-text"><strong>Medium </strong>
            <a  [href]="contacts.medium" target="_blank"> <i class="bi bi-medium"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</div>

